cat > .gitignore << EOL
# Ignore bundler config
/.bundle

# Ignore all logfiles and tempfiles
log/
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles
tmp/
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development
storage/
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

# Ignore RubyMine files
.idea/
.idea/workspace.xml

# Ignore master key for decrypting credentials
/config/master.key

# Ignore node modules
.node-version
/node_modules

# Ignore yarn files
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore compiled assets
/public/assets
/app/assets/builds/*
!/app/assets/builds/.keep

# Ignore Mac system files
.DS_Store

# Ignore environment files
.env
.env.*
EOL