<div data-turbo="false">
  <%= react_component("Pantry", {
    groceries: @grouped_groceries.as_json,
    units: @units.map { |unit| { id: unit.id, name: unit.name } },
    key: Time.current.to_i
  }) %>
</div>